<%- include("partials/header3") %>
 <div class="container">
   <div class="card">
     <div class="p-5 text-center">
       <h1 class="display-4"><%- problems.problem %></h1>

       <p class="lead">
         <%- problems.Description %>
       </p>
     </div>
     <p class="lead text-muted">
       <p><%- problems.name %></p>
       <p><%- problems.age %></p>
     </p>
     
   </div>
 </div>
<%- include("partials/footer1") %>